
 <% include header.html %>



    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="active"><a href="#">主控室</a></li>
              <li><a href="#">10kv高压室</a></li>
              <li><a href="#">台账浏览</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span10">
          
              <% %>
	          	<% for (var i=0;i<devices.length;i++){ %>
              <ul class="toggle-icon clearfix exclude-default" style="background-color:#0088cc;margin-top:40px;">
              <% if (devices[i]) { %>
              <% for (var j=0;j<devices[i].length;j++){ %>

                  <li style="height:60px;">
                    <div >
                    <% if (devices[i][j]) { %>
                    
        			    	<a class='toggle clearfix' style="color:#ffffff;font-size:16px" href="device?id=<%= devices[i][j].device_id %>"><p> <%= devices[i][j].device_name %></p></a>
                    
                    <% } %>
                    </div>
                  </li>
              <% } %>
              <% } %>
                 </ul>
    			   <% } %>

       
          
          
        </div><!--/span-->
      </div><!--/row-->

    </div><!--/.fluid-container-->

<% include footer.html %>
