
 <% include header.html %>



    <div class="container-fluid">
      <div class="row-fluid" style="border: 1px solid #0185cb;margin-top:20px;">
        

        <div style="display:none"> 
            <input type="text" class="input-block-level" id="village_id" name="village_id" placeholder=         <%= village_id %>  value= <%= village_id %> > 
          </div>

        <div class="span12">
            <div style="text-align:center;border-bottom: 1px solid #0185cb;">
              <h1>110KV</h1>
            </div>
            <div style="text-align:center;border-bottom: 1px solid #0185cb;height:60px;">
              <div class="span4">
                <div class="active" style="margin:10px 30px 10px 30px;background-color:#36bf26;padding:10px;text-align:center"><a style="background-color:#36bf26;color:#ffffff" href="#">主控室</a></div>
              </div>
              <div class="span4">
                 <div class="active" style="margin:10px 30px 10px 30px;background-color:#ec7b06;padding:10px;text-align:center"><a style="background-color:#ec7b06;color:#ffffff" href="#">10kv高压室</a></div>
              </div>
              <div class="span4">
                 <div class="active" style="margin:10px 30px 10px 30px;background-color:#ec7b06;padding:10px;text-align:center"><a style="background-color:#ec7b06;color:#ffffff" href="#">台账</a></div>
              </div>
            </div>
          
            <div style="text-align:center;height:450px;margin:0 40px 0 40px">
	          	<% for (var i=0;i<devices.length;i++){ %>
              <ul class="toggle-icon clearfix exclude-default" style="background-color:#0088cc;margin-top:20px;">
              <% if (devices[i]) { %>
              <% for (var j=0;j<devices[i].length;j++){ %>

                  <li style="height:60px;">
                    <div >
                    <% if (devices[i][j]) { %>
                    
        			    	<a class='toggle clearfix' style="color:#ffffff;font-size:16px" href="device?id=<%= devices[i][j].device_id %>"><p> <%= devices[i][j].device_name %></p></a>
                    
                    <% } %>
                    </div>
                  </li>
              <% } %>
              <% } %>
                 </ul>
    			   <% } %>
           </div>

          
          <div style="text-align:center;height:60px;border-top: 1px solid #0185cb">
            <div class="span6">
              <div class="active" id='add_device' style="margin:10px 30px 10px 30px;background-color:#ec7b06;padding:10px;text-align:center"><div  style="background-color:#ec7b06;color:#ffffff" href="#">新增主屏</div></div>
            </div>
            <div class="span3">
             <div class="active"  style="margin:10px 30px 10px 30px;background-color:#ec7b06;padding:10px;text-align:center"><div  style="background-color:#ec7b06;color:#ffffff" href="#">编辑主屏</div></div>
           </div>
           <div class="span3">
              <div class="active" style="margin:10px 30px 10px 30px;background-color:#ec7b06;padding:10px;text-align:center"><a style="background-color:#ec7b06;color:#ffffff" href="#">返回</a></div>
            </div>
          </div>

          
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新增</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="txt_departmentname">屏名称</label>
                        <input type="text" name="new_device_name" class="form-control" id="new_device_name" placeholder="屏名称">
                    </div>
                    <div class="form-group">
                        <label for="txt_parentdepartment">第几排</label>
                        <input type="text" name="device_pos_x" class="form-control" id="device_pos_x" placeholder="行">
                    </div>
                    <div class="form-group">
                        <label for="txt_departmentlevel">第几列</label>
                        <input type="text" name="device_pos_y" class="form-control" id="device_pos_y" placeholder="列">
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                    <button type="button" id="add_device_submit" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                </div>
            </div>
        </div>
    </div>
          
        </div><!--/span-->
      </div><!--/row-->

    </div><!--/.fluid-container-->

   

    <script>
    $("#add_device").click(function () {
          //alert("aa");
          $("#myModalLabel").text("新增");
        $('#myModal').modal();
     });

    


    $("#add_device_submit").click(function () {
          device_pos_y = $("#device_pos_y").val();
          device_pos_x = $("#device_pos_x").val();
          new_device_name = $("#new_device_name").val();
          village_id = $("#village_id").val();
        
          $.ajax({
                data: {device_pos_y:device_pos_y,device_pos_x:device_pos_x,device_name:new_device_name,village_id:village_id},
                url: "http://127.0.0.1:3000/addDevice",
                dataType: 'json',
                cache: false,
                timeout: 5000,
                type:'post',  // 如果要使用GET方式，则将此处改为'get'
                success: function(data){
                    alert(data)
                },
                error: function(jqXHR, textStatus, errorThrown){
                    alert(XMLHttpRequest.status);
                    alert(XMLHttpRequest.readyState);
                    alert(textStatus);
                }
            });
  

     });
    </script>


<% include footer.html %>
