
 <% include header.html %>

<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">变电站二次台账可视化系统</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              用户： <a href="#" class="navbar-link"><%= user %></a>
            </p>
            <ul class="nav">
              <li class="active"><a href="home?id=1">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="active"><a href="#">主控室</a></li>
              <li><a href="#">10kv高压室</a></li>
              <li><a href="#">台账浏览</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          
              <div class="span6">
                <div class="hero-unit" style="background-color:#ffffff;border: 1px solid #0185cb;margin-top:20px;padding:30px">
                <div class="module-box" style="margin-top:10px">
                   <%= modules[0].device_name %>
                </div>
  	          	<% for (var i=0;i<modules.length;i++){ %>
                  <div class="module-box" style="margin-top:10px">
      			    	  <h3><a style="color:#0a0a0a;margin-left:20px" href="device?id=<%= modules[i].device_id %>&moduleId=<%= modules[i].module_id %>"> <%= modules[i].module_name %></a></h3>
                  </div>
      			   <% } %>
                </div>
              </div>
              <div class="span6">

                <table style="width:100%;margin-top:30px;border-spacing:20px 20px;border-collapse:separate;">
                  <tr>
                    <td >
                      <div  style="color:#0088cc">设备型号:</div> 
                    </td>
                     <td >
                      <div  style="border: 1px solid #0185cb;text-align:center"> 
                    <%= module.module_name %></div>
                    </td>
                  </tr>
                    <tr>
                    <td >
                      <div  style="color:#0088cc">保护厂家:</div> 
                    </td>
                     <td >
                      <div  style="border: 1px solid #0185cb;text-align:center"> 
                    <%= module.producer %></div>
                    </td>
                  </tr>
                  <tr>
                    <td >
                      <div  style="color:#0088cc">投运日期:</div> 
                    </td>
                     <td >
                      <div  style="border: 1px solid #0185cb;text-align:center"> 
                    <%= module.running_date %></div>
                    </td>
                  </tr>

                  <tr>
                    <td >
                      <div  style="color:#0088cc">校验日期:</div> 
                    </td>
                     <td >
                      <div  style="border: 1px solid #0185cb;text-align:center"> 
                    <%= module.verify_date %></div>
                    </td>
                  </tr>

                  <tr>
                    <td >
                      <div  style="color:#0088cc">版本号:</div> 
                    </td>
                     <td >
                      <div  style="border: 1px solid #0185cb;text-align:center"> 
                    <%= module.version %></div>
                    </td>
                  </tr>

                  <tr>
                    <td >
                      <div  style="color:#0088cc">校验码:</div> 
                    </td>
                     <td >
                      <div  style="border: 1px solid #0185cb;text-align:center"> 
                    <%= module.verify_code %></div>
                    </td>
                  </tr>


                  <tr>
                    <td >
                      <div  style="color:#0088cc">网络地址:</div> 
                    </td>
                     <td >
                      <div  style="border: 1px solid #0185cb;text-align:center"> 
                    <%= module.net_address %></div>
                    </td>
                  </tr>

                  <tr>
                    <td >
                      <div  style="color:#0088cc">变比:</div> 
                    </td>
                     <td >
                      <div  style="border: 1px solid #0185cb;text-align:center"> 
                    <%= module.bianbi %></div>
                    </td>
                  </tr>

                    <tr>
                    <td >
                      <div  style="color:#0088cc">定制单号:</div> 
                    </td>
                     <td >
                      <div  style="border: 1px solid #0185cb;text-align:center"> 
                    <%= module.dingzhidanhao %></div>
                    </td>
                  </tr>
                </table>

                <!--div style="margin-top:30px">
                  <div style="margin-top:10px">
                  <div class="span4" style="color:#0088cc">设备型号:</div> 
                  <div class="span8" style="border: 1px solid #0185cb;text-align:center"> 
                    <%= module.module_name %></div>
                  </div>

                  <div class="module-box"style="margin-top:10px">
                  <div class="span4" style="color:#0088cc">保护厂家:</div> 
                  <div class="span8" style="border: 1px solid #0185cb;text-align:center"> 
                    <%= module.producer %></div>
                  </div>
                  
                  <div>
                  <div class="span4" style="color:#0088cc">投运日期:</div> 
                  <div class="span8" style="border: 1px solid #0185cb;text-align:center"> 
                    <%= module.running_date %></div>
                  </div>
                  
                  <div>
                  <div class="span4" style="color:#0088cc">校验日期:</div> 
                  <div class="span8" style="border: 1px solid #0185cb;text-align:center"> 
                    <%= module.verify_date %></div>
                  </div>
                  
                  <div>
                  <div class="span4" style="color:#0088cc">版本号:</div> 
                  <div class="span8" style="border: 1px solid #0185cb;text-align:center"> 
                    <%= module.version %></div>
                  </div>
                  
                  <div>
                  <div class="span4" style="color:#0088cc">校验码:</div> 
                  <div class="span8" style="border: 1px solid #0185cb;text-align:center"> 
                    <%= module.verify_code %></div>
                  </div>
                  
                  <div>
                  <div class="span4" style="color:#0088cc">网络地址:</div> 
                  <div class="span8" style="border: 1px solid #0185cb;text-align:center"> 
                    <%= module.net_address %></div>
                  </div>
                  
                  <div>
                  <div class="span4" style="color:#0088cc">变比:</div> 
                  <div class="span8" style="border: 1px solid #0185cb;text-align:center"> 
                    <%= module.bianbi %></div>
                  </div>
                  
                  <div>
                    <div class="span4" style="color:#0088cc">定值单号:</div> 
                  <div class="span8" style="border: 1px solid #0185cb;text-align:center"> 
                    <%= module.dingzhidanhao %></div>

                   </div>

                </div -->
        <button class="btn btn-large btn-primary"><a style="color:#ffffff;font-size:12px" href="editDevice?id=1"> 编辑</a>
</button>
            </div>
          
          
        </div><!--/span-->
      </div><!--/row-->

    </div><!--/.fluid-container-->

<% include footer.html %>
