
 <% include header.html %>

<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">变电站二次台账可视化系统</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              用户： <a href="#" class="navbar-link"><%= user %></a>
            </p>
            <ul class="nav">
              <li class="active"><a href="home?id=1">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="active"><a href="#">咸阳东集控</a></li>
              <li><a href="home?id=1">咸阳西集控</a></li>
              <li><a href="home?id=2">兴平集控</a></li>
              <li><a href="home?id=3">杨凌集控</a></li>
              <li><a href="home?id=4">三原集控</a></li>
              <li><a href="home?id=5">乾礼集控</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">


          	<div class="span4">
	         <h2>110kv</h2>
	          	<% for (var i=0;i<villages.length;i++){ %>
			    <% if (villages[i].V_level == 110) { %>
			    	<h3><a href="deviceList?id=<%= villages[i].village_id %>"> <%= villages[i].village_name %></a></h3>
			    	<% } %>
			   <% } %>
		        </div>

	        <div class="span4">
	         <h2>35kv</h2>
	          	<% for (var i=0;i<villages.length;i++){ %>
	          		<% if (villages[i].V_level == 35) { %>
			    	<h3><%= villages[i].village_name %></h3>
			    	<% } %>
			   <% } %>
		        </div>

	        <div class="span4">
	          <h2>10kv</h2>
	         
	          	<% for (var i=0;i<villages.length;i++){ %>
			   <% if (villages[i].V_level == 10) { %>
			    	<h3><%= villages[i].village_name %></h3>
			    	<% } %>
			   <% } %>
		        </div>


          </div>
          
          
        </div><!--/span-->
      </div><!--/row-->

    </div><!--/.fluid-container-->

<% include footer.html %>
