
 <% include header.html %>



    <div class="container-fluid home navbar-inverse" id="home">
      <div class="row-fluid">
        <div class="span3">
          <div class=" sidebar-nav" style="border: 1px solid #0185cb;margin-top:30px;height:500px;background-color: #0088cc;">
            <ul class="nav" style="margin-bottom: 20px;margin-left: 0;list-style: none;">
              <li class="active" style="margin:30px;background-color:#ec7b06;padding:10px;text-align:center"><a style="background-color:#ec7b06;" href="#">咸阳东集控</a></li>
             
               <li class="active" style="margin:30px;background-color:#ec7b06;padding:10px;text-align:center"><a style="background-color:#ec7b06;" href="#">咸阳西集控</a></li>
              
               <li class="active" style="margin:30px;background-color:#ec7b06;padding:10px;text-align:center"><a style="background-color:#ec7b06;" href="#">兴平集控</a></li>
              
               <li class="active" style="margin:30px;background-color:#ec7b06;padding:10px;text-align:center"><a style="background-color:#ec7b06;" href="#">杨凌集控</a></li>
              
               <li class="active" style="margin:30px;background-color:#36bf26;padding:10px;text-align:center"><a style="background-color:#36bf26;" href="home?id=1">乾礼集控</a></li>
              
              
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div style="border: 1px solid #0185cb;margin-top:30px;height:500px">


          	<div class="span4">
	           <div class=" sidebar-nav" style="border: 1px solid #0185cb;margin:30px;height:400px;background-color: #0088cc;">
              <ul class="nav" style="margin-bottom: 20px;margin-left: 0;list-style: none;">
	          	<% for (var i=0;i<villages.length;i++){ %>

			    <% if (villages[i].V_level == 110) { %>
          <li class="active" style="margin:30px;background-color:#36bf26;padding:10px;text-align:center">
            <a style="background-color:#36bf26;" href="deviceList?id=<%= villages[i].village_id %>"> <%= villages[i].village_name %></a></li>

			    	
      			    	<% } %>
      			   <% } %>
             </ul>
             </div>
		        </div>

              <div class="span4">
             <div class=" sidebar-nav" style="border: 1px solid #0185cb;margin:30px;height:400px;background-color: #0088cc;">
              <ul class="nav" style="margin-bottom: 20px;margin-left: 0;list-style: none;">
              <% for (var i=0;i<villages.length;i++){ %>

          <% if (villages[i].V_level == 35) { %>
          <li class="active" style="margin:30px;background-color:#36bf26;padding:10px;text-align:center">
            <a style="background-color:#36bf26;" href="deviceList?id=<%= villages[i].village_id %>"> <%= villages[i].village_name %></a></li>

            
                  <% } %>
               <% } %>
             </ul>
             </div>
            </div>

              <div class="span4">
             <div class=" sidebar-nav" style="border: 1px solid #0185cb;margin:30px;height:400px;background-color: #0088cc;">
              <ul class="nav" style="margin-bottom: 20px;margin-left: 0;list-style: none;">
              <% for (var i=0;i<villages.length;i++){ %>

          <% if (villages[i].V_level == 10) { %>
          <li class="active" style="margin:30px;background-color:#36bf26;padding:10px;text-align:center">
            <a style="background-color:#36bf26;" href="deviceList?id=<%= villages[i].village_id %>"> <%= villages[i].village_name %></a></li>

            
                  <% } %>
               <% } %>
             </ul>
             </div>
            </div>

	        


          </div>
          
          
        </div><!--/span-->
      </div><!--/row-->

    </div><!--/.fluid-container-->

<% include footer.html %>
