<%- include header_login.html %>
<div class="container">

      <form class="form-signin" method="post">
        <h2 class="form-signin-heading">注册</h2>
        <input type="text" class="input-block-level" id="username" name="username" placeholder="用户名">
        <input type="password" class="input-block-level"  id="password" name="password" placeholder="密码">
        
        

        <button class="btn btn-large btn-primary" type="submit">注册</button>
        <a style="color:#000000;margin-left:180px"   href="login">登录</a>
        </form>

</div>
<%- include footer.html %>